@model AlisFirst.Models.AssetModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>AssetModel</legend>

    <div class="display-label">AssetModelName</div>
    <div class="display-field">@Model.AssetModelName</div>

    <div class="display-label">Manufacturer</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Manufacturer).ToString()</div>

    <div class="display-label">Assets</div>
    <div class="display-field">@(Model.Assets == null ? "None" : Model.Assets.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
       
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
