@model AlisFirst.Areas.AMS.ViewModels.AssetsViewModel
@{
    ViewBag.Title = "Index";
    
}


<h2>Index</h2>

<div>
    @using (Html.BeginForm())
    {
        @Html.TextBoxFor(model => model.searchKey)             

        <input type="submit" name="Search" value="Search" />
    }
</div>



@*HTML form for filtering TODO*@
@using (Html.BeginForm())
{
        
    <input type="submit" name="Apply Filters" value="Filter" id="Filter" />
@*Will Disable the button if Javascript is enabled*@
    <script>
        document.getElementById('Filter').style.visibility = 'hidden';
    </script>
    
}

<div id="AssetList">
    
      @Html.Partial("_AssetList", Model.listViewModel)
    
</div>





