<ul id="menu">
    <li>@Html.ActionLink("Home", "Index", "Dashboard")</li>
    <li>@Html.ActionLink("AMS", "Index", "Dashboard", new { area = "AMS" }, null)</li>
    <li>@Html.ActionLink("LMS", "Index", "Dashboard", new { area = "LMS" }, null)</li>    
</ul>
