@model AlisEF102.Models.Location

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Location</legend>

    <div class="display-label">LocationName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocationName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LocationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
