<ul id="menu">
    <li>@Html.ActionLink("Home", "Index", "Dashboard", new { area = "" }, null)</li>
    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard", new {area = "AMS"}, null)</li>   
    <li>@Html.ActionLink("Loans", "Index", "Loans")</li>
    <li>@Html.ActionLink("Borrowers", "Index", "Borrowers")</li>      
</ul>
