@model AlisFirst.Areas.LMS.ViewModels.CreateBorrowerViewModel

@{
    ViewBag.Title = "Create Borrower";
}

<h2>Create A New Borrower</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Borrower Details</legend>

		@Html.Partial("_Create", Model)

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    <a href="javascript:goBack()" class="button_green">Cancel</a>
</div>


