@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div style="display:inline-block">
    @Html.ActionLink("Asset Management System", "Index", "AMS/Dashboard")<br />
    @Html.ActionLink("Loan Management System", "Index", "LMS/Dashboard")

</div>
