@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div style="display:inline-block">
    @Html.ActionLink("Asset Management System", "Index", "Dashboard", new { area = "AMS" }, null)<br />
    @Html.ActionLink("Loan Management System", "Index", "Dashboard", new { area = "LMS" }, null)<br />

</div>
