@model AlisFirst.ViewModels.DeleteAssetModelViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>DeleteAssetModelViewModel</legend>

    <div class="display-label">Asset Model ID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AssetModelID)
    </div>

    <div class="display-label">Asset Model Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AssetModelName)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "../LookupTable/Index")
    </p>
}
