@model AlisFirst.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Category</legend>

    <div class="display-label">CategoryName</div>
    <div class="display-field">@Model.CategoryName</div>

    <div class="display-label">Assets</div>
    <div class="display-field">@(Model.Assets == null ? "None" : Model.Assets.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
