@* Views\Asset\_AssetEdit.cshtml *@
@model AlisFirst.Areas.AMS.ViewModels.AssetEditModel

@using (Ajax.BeginForm("AssetEdit", new AjaxOptions { UpdateTargetId = "edit-asset" }))

{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend> Edit Asset Properties </legend>
        @Html.EditorForModel()
            <div class="clear"></div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
