@model AlisFirst.Areas.AMS.ViewModels.AssetsIndexViewModel

@{
    ViewBag.Title = "Index";
    var routeData = new RouteValueDictionary(this.ViewContext.RouteData.Values);
    
}


<h2>Index</h2>

<div>
    @using (Html.BeginForm())
    {
        @Html.TextBoxFor(model => model.searchKey)             

        <input type="submit" name="Search" value="Search" />
    }
</div>

<p>
    @Html.ActionLink("Create New", "Create", "Asset")
</p>



<div id="AssetList">
    
      @Html.Partial("_AssetList", Model.listViewModel)
    

</div>






